.container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  border: solid 2px rgba(144, 194, 0, 1);
  border-radius: 14px;
  color: rgba(111, 165, 217, 1);
}

.header {
  background-color: rgba(144, 194, 0, 1);
  border-radius: 12px 12px 0 0;
  padding: 10px 0;
  color: white;
  text-align: center;
}

.header p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sliderGroup {
  margin-bottom: 30px;
}

.label {
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  padding-left: 15%;
}

.sliderContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.slider {
  flex: 1;
  margin-right: 15px;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  padding: 10px
}

.thresholdContainer {
  margin-top: 20px;
  border-top: 1px solid rgba(144, 194, 0, 0.5);
  padding-top: 20px;
}


.inputValue {
  width: 50px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.unit {
  margin-left: 5px;
}

.scheduleContainer {
  margin-top: 20px;
  border-top: 1px solid rgba(144, 194, 0, 0.5);
  border-bottom: 1px solid rgba(144, 194, 0, 0.5);
  padding-top: 20px;
}

.singleSchedule {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid rgba(144, 194, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scheduleActivation, .scheduleTime, .scheduleDays {
  margin-bottom: 10px;
}

.dayBadge, .dayBadge * {
  display: inline-block;
  margin-right: 5px;
  background-color: rgba(144, 194, 0, 0.1);
  border-radius: 5px;
  padding: 2px 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(144, 194, 0, 0.2);
    cursor: pointer;
  }

  input[type="checkbox"]:checked + label {
    font-weight: bold;
  }
}

.basicInfoContainer {
  padding: 15px;
  border-top: 1px solid rgba(144, 194, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 20px; // Espacement entre cette section et la suivante
}

.subTitle {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: rgba(144, 194, 0, 1); // Pour donner une couleur distincte au sous-titre
}

.buttonContainer {
  display: flex;
  justify-content: space-between; // or 'space-around' or 'center' based on your preference
  align-items: center;
  margin-top: 20px; // Add some margin at the top for spacing
}
