.container {
  width: 90%;
  height: 95%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.temp {
  font-size: 2.5rem;
}
.cityName {
  font-size: 1.8rem;
  color: #676d79;
  font-family: "Poppins-Regular";
}

.icone {
  align-self: center;
  position: absolute;
  top: 48px;
}
.humidity {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  font-size: 1.4rem;
  font-family: "Poppins-Regular";
  color: #ffffff;
}
