.temp {
  font-size: 1.5rem;
}
.cityName {
  font-size: 1.2rem;
  color: #676d79;
  font-weight: 200;
}

.container {
  margin: 0;
  padding: 20px;
}
.icone {
  text-align: center;
}
.humidity {
  display: flex;
}
