.container {
  display: flex;
  flex-direction: column;
}
.container h2 {
  margin-bottom: 50px;
}

.forecastContainer {
  display: flex;
  flex-direction: row;
}
.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecastIcon {
  max-width: 100%;
}

.temp {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}
