.container {
  display: flex;
  flex-direction: row;
}

.forecast {
  width: 20%;
  height: auto;
}

.forecastIcon {
  max-width: 100%;
}

.temp {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}
