.page {
  height: auto;
  width: 100%;
}
@media (min-width: 600px) {
  .page {
    display: flex;
    flex-direction: row;
  }
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mainContainer {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 15px;
}
.cards {
  margin-top: 80px;
  margin-left: 20px;
  width: 100%;
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}
.higherCard {
  grid-row: span 2;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 15px;
}
// .cards {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   margin-bottom: 20px;
// }
