.page {
  height: 100%;
  width: 100%;
  padding: 80px 10px 0 10px;
  box-sizing: border-box;
}
.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.mainContainer {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 15px;
}
.cards {
  grid-area: cards;
  display: grid;
  grid-auto-rows: minmax(300px, auto);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}
.higherCard {
  overflow: hidden;
  grid-row: span 2;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 15px;
}

@media (min-width: 600px) {
  .page {
    padding: 0px 0px 0px 0px;
    display: grid;
    grid-template-areas:
      "sidebar nav"
      "sidebar cards";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr;
  }
  .cards {
    margin: 10px 20px 0 20px;
  }
}

@media (min-width: 1800px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
