.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h2 {
  align-self: flex-start;
}

.valveContainer {
  width: 100%;
  background-color: rgba(238, 240, 245, 1);
  border-radius: 14px;
  margin: 20px 20px;
  padding: 10px;
  color: rgba(100, 110, 130, 1);
}

.buttonPanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
  padding: 10px;

  .icon {
    display: flex;
    align-items: center;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(238, 240, 245, 1);
  padding-top: 10%;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modalContent {
  text-align: center;
  max-height: 100%;
  overflow: auto;
  padding: 50px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  cursor: pointer;
}
