.container {
  display: flex;
  height: 2.5rem;
  width: 100px;
  background-color: rgba(111, 165, 217, 1);
  border: 2px solid rgba(206, 212, 221, 1);
  border-radius: 14px;
  justify-content: flex-start;

  &.end {
    justify-content: flex-end;
  }
}

.circle {
  height: 2rem;
  width: 3.8rem;
  background-color: rgba(206, 212, 221, 1);
  border-radius: 14px;
  margin: 0.1rem 0.25rem;
  padding: 4px;
  text-align: center;

  span {
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
  }
}

.containerschedules {
  position: relative;
  align-self: center;
  display: flex;
  height: 20px;
  width: 40px;
  background-color: #cdd622;
  border-radius: 14px;
  justify-content: flex-start;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  cursor: pointer;

  &.end {
    justify-content: flex-end;
  }
}

.circleschedules {
  position: absolute;
  top: 0px;
  height: 20px;
  width: 20px;
  background-color: rgb(253, 253, 253);
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  border-radius: 14px;
  padding: 4px;
  text-align: center;
}
.circleschedules::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
