.navbar2 {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    z-index: 10000;
    background: linear-gradient(to right, rgb(var(--background-end-rgb)), rgb(var(--background-start-rgb)));
    transition: background 0.5s ease-in-out;
}

.navbar2 .hamburgerMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 10000000;
        
    div {
        width: 2rem;
        height: 0.25rem;
        background: #ffffff;
        border-radius: 10px;
    }
}

.navLeft2 {
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;

    &:hover {
        color: rgb(0, 0, 0);
    }
}

.navRight2 a {
    margin-left: 30px;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    transition: 0.5s;

    &:hover {
      color: rgb(0, 0, 0);
    }
}

.menuMobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: #000000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 10000;
    transition: 0.3s ease-in-out;
}

.menuMobile a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    display: none; 

    &:hover {
        color: rgb(113, 163, 52);
    }
}

@media (max-width: 768px) {
    .navbar2 .navRight2 {
        display: none;
    }

    .navbar2 .hamburgerMenu {
        display: flex;
    }

    .menuMobile {
        display: flex;
    
        a {
            display: block;
        }
    }
}