.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    z-index: 10000;
    background: linear-gradient(to right, rgb(var(--background-end-rgb)), rgb(var(--background-start-rgb)));
}

.navbar .hamburgerMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 10000000;
        
    div {
        width: 2rem;
        height: 0.25rem;
        background: #ffffff; // Change this to the color of your choice
        border-radius: 10px;
    }
}

.navLeft {
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;

    &:hover {
        color: rgb(0, 0, 0);
    }
}

.navRight a {
    margin-left: 30px;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    transition: 0.5s;
  
    &:hover {
      color: rgb(0, 0, 0);
    }
}

.menuMobile {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: #ffffff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 10000;  // So it appears on top of everything else
    transition: 0.3s ease-in-out;
}

.menuMobile a {
    color: #000000;  // Black links
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    display: none;  // hide links by default
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .navbar .navRight {
        display: none;
    }

    .navbar .hamburgerMenu {
        display: flex;
    }

    .menuMobile {
        display: flex;
    
        a {
            display: block;
        }
    }
}

@media (max-width: 480px) {
    
}