.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .topContent {
        margin-top: 100px;
        text-align: center;
        margin-bottom: 120px;

        h1 {
            margin-top: 30px;
            margin-right: 850px; 
            margin-bottom: 10px;
            max-width: 100px;
            font-size: 80px;
        }

        p {
            margin-left: 650px;
            margin-bottom: 80px; 
            font-size: 25px;
        }
    }

    .greenade {
        position: absolute;
        top: 7%; // adjust this value
        left: 17%; // adjust this value
        width: 70%;
        height: auto;
        z-index: 1; 
    }
    
    .shadowGreenade {
        position: absolute;
        top: 8%; // adjust this value
        left: 18%; // adjust this value
        width: 71%;
        height: auto;
        z-index: 0;
    }
    

    .textContent {
        position: absolute;
        left: 120px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        z-index: 2; 

        p {
            margin-bottom: 10px;
            max-width: 300px;
            margin-bottom: 50px;
        }
    }

    h2 {
        position: relative;
        margin-top: 140px;
        text-align: center;
        font-size: 200px;
        z-index: 0;
    }

    @media (max-width: 1024px) { /* Tablet */
        .topContent {

            h1 {
                margin-top: 10px;
                margin-left: 100px; 
                font-size: 70px;
            }
  
            p {
                margin-left: 500px;
                margin-bottom: 10px; 
                font-size: 20px;
            }
        }

        .greenade {
            width: 80%;
        }

        .textContent {
            left: 60px; 
            font-size: 19px;
        }

        h2 {
            /* Styles pour tablettes ici */
        }
    }

    @media (max-width: 768px) { /* Mobile */
        .topContent {
            h1 {
            
            }
  
            p {
                /* Styles pour mobile ici */
            }
        }

        .greenade {
            /* Styles pour mobile ici */
        }

        .textContent {
            /* Styles pour mobile ici */
        }

        h2 {
            /* Styles pour mobile ici */
        }
    }
}




  
  
  
  